 
@font-face {
    font-family: '__Myriad Pro_5';
    src: url('fonts/myriadpro-semibold.eot');
    src: local('☺'), url('fonts/myriadpro-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: '__Futura-Normal_5';
    src: url('fonts/futura-normal.eot');
    src: local('☺'), url('fonts/futura-normal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: '__Open Sans_5';
    src: url('fonts/opensans-extrabold.eot');
    src: local('☺'), url(' fonts/opensans-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: '__Futura-Bold_5';
    src: url('fonts/futura-bold.eot');
    src: local('☺'), url('fonts/futura-bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'PTSans-Regular';
    src: url('fonts/PTSans-Regular.ttf');
    src: local('☺'), url('fonts/PTSans-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face { font-family: 'PT-Sans'; 
    src: url('fonts/PTSans-Regular.ttf'); } 

