@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
.navbar-brand {
  font-size: 20px;
  color: #a4c157;
}

.productsDown .product {
  padding: 15px;
}

body {
  overflow-x: hidden;
}

.youtube {
  background-color: #000;
  position: relative;
  padding-top: 56.25%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.t1 {
  font-family: 'PT-Sans' !important;
}

.t1 .sub p {
  font-size: 16px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: whitesmoke;
  padding: 10px;
  border: none !important;
  display: block;
  -webkit-box-shadow: 0px 15px 10px -15px #111 !important;
          box-shadow: 0px 15px 10px -15px #111 !important;
}

.navbar .navbar-brand {
  margin-top: 5px !important;
  font-family: '__Futura-Bold_5';
}

.navbar .navbar-nav {
  -ms-flex-item-align: end !important;
      align-self: flex-end !important;
}

.navbar .navbar-nav a {
  font-size: 12px;
  font-weight: bold;
  color: black;
  font-family: '__Open Sans_5';
}

.fa-vk, .fa-instagram, .fa-facebook {
  color: #a4c157;
}

.youtube img {
  width: 100%;
  top: -16.84%;
  left: 0;
  opacity: 0.7;
}

.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}

.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}

.youtube img,
.youtube .play-button {
  cursor: pointer;
}

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}

.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Oswald';
}

.a {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

body {
  font-family: 'Oswald';
}

p {
  font-size: 16px;
}

.top {
  padding-top: 8rem !important;
  height: 40%;
}

.masthead {
  font-family: '__Futura-Bold_5';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("/img/masthead.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: relative;
  padding-top: 1.5rem !important;
  height: 100%;
  padding-top: 10rem !important;
}

.masthead h1 {
  font-size: 24px;
  padding-bottom: 10px;
}

.masthead .i1 {
  display: none;
  position: absolute;
  top: 40%;
  left: 10%;
  height: 20%;
  width: 20%;
}

.YT-first {
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: '__Futura-Bold_5';
}

.YT-first h1 {
  font-size: 30px;
}

.YT-first .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: '__Futura-Bold_5';
}

.YT-first .YT-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.YT-first .YT-cont .item {
  margin-top: 10px;
  height: 25%;
  width: 90%;
}

.YT-first .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 10px;
}

.YT-first .button a {
  background-color: #f99124;
  color: black;
  text-decoration: underline;
  padding: 10px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-size: 24px !important;
  text-align: center;
  border-radius: 50px;
}

.YT-first1 {
  font-family: '__Futura-Bold_5';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #689cb4;
  color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.YT-first1 p {
  font-size: 11px;
}

.YT-first1 .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.YT-first1 .YT-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.YT-first1 .YT-cont .item {
  height: 25%;
  width: 100%;
}

.YT-first1 .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.YT-first1 .button a {
  background-color: #f99124;
  color: white;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  border-radius: 50px;
}

.u-list {
  font-family: '__Futura-Bold_5';
  background-color: #689cb4;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

.u-list .header {
  height: 10%;
}

.u-list .header h1 {
  font-size: 24px;
}

.u-list .content-1st {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45%;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.u-list .content-1st p {
  font-size: 14px;
}

.u-list .content-1st .item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.u-list .content-1st .item .img-fluid {
  height: 100%;
}

.u-list .content-2nd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  height: 45% !important;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.u-list .content-2nd .cent {
  width: 100%;
  padding-left: 3rem;
}

.u-list .content-2nd .cent p {
  margin-top: 20px;
}

.warning {
  font-family: 'PT-Sans';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  text-align: center;
  background: white;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.warning .item {
  border: 3px solid #e13339;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
}

.warning .item p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bold;
  font-size: 14px;
}

.whitesmoke {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.whitesmoke .header {
  font-family: '__Myriad Pro_5';
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.whitesmoke .header h3 {
  font-size: 18px;
}

.whitesmoke .item {
  height: 45%;
  width: 100%;
}

.whitesmoke .item .subitem {
  font-family: 'PT-Sans';
}

.whitesmoke .item .subitem p {
  line-height: 1;
  font-size: 14px;
}

.whitesmoke .item .subitem .ul {
  text-decoration: underline;
}

.whitesmoke .s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whitesmoke .s1 .img-fluid {
  height: 70px;
  width: 70px;
}

.whitesmoke1 {
  font-family: '__Futura-Normal_5';
  padding: 0;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: white;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.whitesmoke1 h3 {
  color: black !important;
  font-size: 18px;
}

.whitesmoke1 .alt1 {
  background-color: #a4c157;
}

.whitesmoke1 .alt2 {
  background-color: #689cb4;
}

.whitesmoke1 .alt3 {
  background-color: #9677b2;
}

.whitesmoke1 .header {
  font-family: '__Futura-Bold_5';
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.whitesmoke1 .item {
  height: 45%;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whitesmoke1 .item .subitem p {
  line-height: 1.9;
}

.whitesmoke1 .item .subitem .ul {
  font-weight: bold;
  text-decoration: underline;
}

.whitesmoke1 .s1 {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whitesmoke1 .s1 .img-fluid {
  min-height: 108px;
  min-width: 163px;
  -webkit-box-shadow: 0 0 5px 5px rgba(245, 245, 245, 0.7);
          box-shadow: 0 0 5px 5px rgba(245, 245, 245, 0.7);
}

.text {
  text-align: center;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: '__Futura-Bold_5';
}

.text h3 {
  font-size: 18px;
}

.text .sub {
  width: 100%;
}

.three {
  font-family: '__Myriad Pro_5';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("/img/masaza.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 1.5rem;
  background-color: #a4c157;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.three .youtube {
  height: 100%;
  width: 100%;
}

.three p, .three h3 {
  color: white;
  text-align: center;
}

.three .i1 {
  height: 10%;
  width: 100%;
}

.three .i2 {
  height: 80%;
  width: 100%;
}

.three .v {
  min-height: 260px;
  border: 1px solid white;
  width: 100%;
}

.three .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.three h3 {
  font-size: 18px;
}

.posebanDiv {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posebanDiv .pic {
  position: relative;
}

.posebanDiv .pic .img-fluid {
  width: 300px;
}

.posebanDiv .pic .rnd {
  position: absolute;
  top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.posebanDiv .pic .rnd p {
  color: white;
  font-size: 13px;
}

.img-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url("/img/bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img-container .item {
  width: 100%;
}

.img-container .w {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-container .w .img-fluid {
  height: 100%;
  width: 100%;
}

.img-container .item {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.picturePort {
  font-family: 'PT-Sans';
  width: 100%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.picturePort p {
  text-align: center;
}

.picturePort .i1 {
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.picturePort .i1 .itemSub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.picturePort .i1 .itemSub .img-fluid {
  height: 100px;
  width: 100px;
}

.picturePort .i1 .itemSub p {
  text-align: center;
  font-weight: bold;
}

.picturePort .i2 {
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.warning-1 {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  font-family: 'PT-Sans';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7f7f7f;
}

.warning-1 p {
  color: white;
  font-size: 19px;
}

.warning-1 .item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textR {
  padding: 1.5rem;
  font-family: 'PT-Sans';
}

.textR p {
  font-size: 14px;
}

.products {
  font-family: '__Futura-Normal_5';
  background-image: -webkit-gradient(linear, left top, right top, from(#397bc5), to(#389b64));
  background-image: linear-gradient(to right, #397bc5, #389b64);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  color: white;
  text-align: center;
}

.products .img-fluid {
  height: 120px;
  width: 120px;
}

.products p {
  line-height: 1;
}

.products h2 {
  font-size: 18px;
}

.products .itemW {
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  text-align: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  padding: 10px;
}

.products .itemW p {
  font-size: 18px;
  margin-top: 10px;
}

.products .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.products .product .s {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.products .product .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.products .product .sub p {
  text-align: center;
  font-size: 18px;
  color: white;
  line-height: 0.8;
}

.products .button {
  width: 100%;
}

.products .button button {
  width: 100%;
  padding: 5px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 18px;
}

.products .productsDown {
  display: none;
}

.contact {
  font-family: '__Futura-Bold_5';
  width: 100%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact p {
  font-size: 18px;
}

.contact .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .item1 {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact .item1 .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .item1 .sub .img-fluid {
  height: 50px;
  width: 70px;
}

.contact .item1 .s1 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

.map #gmap {
  width: 100%;
  height: 100%;
}

.footer {
  font-family: '__Futura-Bold_5';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#397bc5), to(#389b64));
  background-image: linear-gradient(to right, #397bc5, #389b64);
  color: white;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.dopunaD {
  display: none;
}

.GD {
  display: none;
}

.textD {
  display: none;
}

.ozaD {
  display: none;
}

.ND {
  display: none !important;
}

.NM .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 12px;
}

.NM .flex .fi {
  margin: 5px;
}

li.active a {
  color: black !important;
  background-color: whitesmoke !important;
}

@media only screen and (min-width: 992px) {
  li.active a {
    color: #a5bf5d !important;
    background-color: whitesmoke !important;
  }
  .ND {
    display: block !important;
  }
  .ND .navbar-nav {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important;
  }
  .ND .navbar-nav .link {
    font-size: 14px;
    font-weight: bold;
    color: black;
    font-family: '__Open Sans_5';
    margin-top: 10px;
  }
  .ND .navbar-nav .fab {
    margin-top: 10px;
  }
  .NM {
    display: none !important;
  }
  .footer {
    font-family: '__Futura-Bold_5';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, right top, from(#397bc5), to(#389b64));
    background-image: linear-gradient(to right, #397bc5, #389b64);
    color: white;
  }
  .footer a {
    text-decoration: none;
    color: white;
    font-size: 48px;
  }
  #section5 {
    display: none !important;
  }
  .ozaD {
    padding-bottom: 3rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: whitesmoke;
    padding-bottom: 1rem;
    font-family: '__Myriad Pro_5';
  }
  .ozaD h1 {
    font-size: 60px;
  }
  .ozaD .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ozaD .sub {
    width: 30%;
    padding: 1rem;
  }
  .ozaD .header h2 {
    font-size: 100px !important;
  }
  .textD {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10%;
    padding-bottom: 1.5rem;
    font-family: '__Futura-Bold_5';
  }
  .textD .item {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .textD h1 {
    font-size: 48px;
  }
  .navbar .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
    margin-top: 12px !important;
  }
  .dopunaD {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #b6d1dc;
    color: black;
    font-family: '__Futura-Bold_5';
  }
  .dopunaD .green {
    color: #306d05;
  }
  .dopunaD h1 {
    font-size: 24px;
  }
  .YT-first1 {
    display: none !important;
  }
  .top {
    height: 90%;
    padding: 0 !important;
  }
  .masthead {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100% !important;
    background-image: url("/img/bgBig.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 5rem !important;
  }
  .masthead .i1 {
    display: inline-block !important;
  }
  .masthead .m h1 {
    font-size: 72px;
    margin-bottom: 3rem;
    font-weight: bold;
  }
  .b {
    height: 10% !important;
    width: 100%;
  }
  .b .subitem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .b .subitem p {
    font-size: 25px;
    color: black;
  }
  .YT-first {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .YT-first .button .btn-1 {
    border: 2px solid black;
    background-color: #fded26;
    font-size: 48px !important;
    font-weight: 400;
    width: 30%;
    -webkit-box-shadow: 0px 15px 10px -15px #111;
            box-shadow: 0px 15px 10px -15px #111;
  }
  .YT-first .header h1 {
    font-size: 60px;
    font-weight: bold;
  }
  .YT-cont {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding: 15rem;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  .YT-cont .item {
    width: 40% !important;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 15px;
    padding-bottom: 50px;
  }
  .YT-cont .i1 {
    margin-top: 0 !important;
  }
  .u-list {
    display: none !important;
  }
  .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 13rem;
    padding-right: 13rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
  }
  .img-container .w {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
  }
  .img-container .w .item {
    width: 25% !important;
    padding: 1rem !important;
  }
  .img-container .w .item .img-fluid {
    height: 100%;
    width: 100%;
  }
  .warning, .warning-1 {
    display: none;
  }
  .desktop1 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding-top: 6rem;
    padding-bottom: 6rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #9ac93b;
    margin-top: 4rem;
    font-family: '__Futura-Bold_5';
  }
  .desktop1 .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
  }
  .desktop1 .item10 .img-fluid {
    height: 500px;
  }
  .desktop1 .item {
    padding: 10px;
  }
  .desktop1 p {
    font-size: 24px;
    color: white;
  }
  .desktop1 .item10 {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
  }
  .desktop1 .item90 {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .desktop1 .header {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 2rem;
  }
  .desktop1 .header p {
    font-size: 50px !important;
    text-align: left;
  }
  .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cont .item {
    width: 30%;
    margin: 1rem;
  }
  .whitesmoke {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2rem !important;
  }
  .whitesmoke .header {
    margin-bottom: 5rem;
  }
  .whitesmoke .header h3 {
    font-size: 60px;
  }
  .whitesmoke .ul {
    font-size: 22px !important;
  }
  .whitesmoke .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 !important;
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .whitesmoke .item {
    width: 30%;
    margin: 30px;
  }
  .whitesmoke .item .s1 {
    margin-bottom: 50px;
  }
  .whitesmoke .item .subitem p {
    font-size: 20px;
  }
  .whitesmoke .item .subitem .img-fluid {
    width: 91px;
    height: 118px;
  }
  .desktopB {
    font-family: 'PT-Sans';
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: whitesmoke !important;
    padding-bottom: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .desktopB .item {
    border: 3px dashed red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 20px;
    width: 50% !important;
    background-color: white;
  }
  .desktopB .item p {
    font-size: 20px;
  }
  .whitesmoke1 {
    display: none;
  }
  .whitesmoke1D {
    color: white;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    width: 100%;
    background-color: #a4c157;
    height: 500px;
    position: relative;
    color: #fff;
    font-family: '__Futura-Normal_5';
  }
  .whitesmoke1D p {
    font-size: 26px !important;
  }
  .whitesmoke1D h1 {
    font-size: 30px !important;
  }
  .whitesmoke1D .subitem {
    z-index: 200;
    width: 35%;
  }
  .whitesmoke1D .subitem .img-fluid {
    -webkit-box-shadow: 0 0 10px 10px rgba(245, 245, 245, 0.7);
            box-shadow: 0 0 10px 10px rgba(245, 245, 245, 0.7);
  }
  .whitesmoke1D:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: 199;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: skewY(-2deg);
            transform: skewY(-2deg);
  }
  .whitesmoke2D {
    color: white;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    width: 100%;
    background-color: #689cb4;
    height: 500px;
    font-family: '__Futura-Normal_5';
    font-family: '__Futura-Normal_5';
  }
  .whitesmoke2D h1 {
    font-size: 30px;
  }
  .whitesmoke2D p {
    font-size: 26px;
  }
  .whitesmoke2D .subitem {
    width: 30%;
  }
  .whitesmoke2D .subitem .img-fluid {
    -webkit-box-shadow: 0 0 10px 10px rgba(245, 245, 245, 0.7);
            box-shadow: 0 0 10px 10px rgba(245, 245, 245, 0.7);
  }
  .whitesmoke3D {
    color: white;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    width: 100%;
    background-color: #9677b2;
    height: 500px;
    font-family: '__Futura-Normal_5';
  }
  .whitesmoke3D p {
    font-size: 26px;
  }
  .whitesmoke3D h1 {
    font-size: 30px;
  }
  .whitesmoke3D .subitem {
    width: 35%;
  }
  .whitesmoke3D .subitem .img-fluid {
    -webkit-box-shadow: 0 0 10px 10px rgba(245, 245, 245, 0.7);
            box-shadow: 0 0 10px 10px rgba(245, 245, 245, 0.7);
  }
  .text {
    font-family: '__Futura-Bold_5';
  }
  .text h3 {
    font-size: 48px;
  }
  .t1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .t1 .sub {
    font-family: 'PT-Sans';
  }
  .t1 p {
    font-size: 24px;
  }
  .t1 .desktopB {
    width: 30%;
    background-color: white !important;
  }
  .t1 .desktopB p {
    font-size: 24px;
  }
  .t1 .desktopB .item {
    width: 100% !important;
    padding: 20px !important;
    height: 100%;
  }
  .t1 .sub {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    margin-top: 50px;
  }
  .three {
    font-family: '__Myriad Pro_5';
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .three .youtube {
    height: 100%;
    width: 100%;
  }
  .three .item {
    height: 33.3%;
    width: 100%;
  }
  .three .i2 {
    height: 300px !important;
    width: 600px !important;
    padding: 10px;
  }
  .three .item {
    width: 50%;
  }
  .three .item h3 {
    font-size: 48px;
    font-weight: bold;
    color: white;
  }
  .posebanDiv {
    font-family: '__Myriad Pro_5';
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .posebanDiv .pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .posebanDiv .pic .img-fluid {
    width: 50%;
  }
  .posebanDiv .pic .rnd {
    top: 30%;
  }
  .posebanDiv .pic .rnd p {
    font-size: 27px;
  }
  .picturePort {
    display: none;
  }
  .picturePortD {
    font-family: 'PT-Sans';
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .picturePortD .txtt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .picturePortD .txtt p {
    font-size: 18px !important;
  }
  .picturePortD .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .picturePortD .first .s1 {
    width: 40%;
  }
  .picturePortD .first .s2 {
    width: 50%;
  }
  .picturePortD .first .s2 p {
    font-size: 22px;
    text-align: right;
  }
  .picturePortD .sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
  }
  .picturePortD .sec p {
    font-size: 18px;
    text-align: left;
  }
  .textR, .products, .contact {
    display: none;
  }
  .productD {
    font-family: '__Futura-Normal_5';
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: -webkit-gradient(linear, left top, right top, from(#397bc5), to(#389b64));
    background-image: linear-gradient(to right, #397bc5, #389b64);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .productD p {
    line-height: 1;
  }
  .productD .wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
  }
  .productD .img-fluid {
    height: 250px;
    width: 200px;
  }
  .productD p {
    font-size: 30px;
    color: white;
  }
  .productD .header {
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
  }
  .productD .item {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .productD .item .sub1 {
    border-radius: 100%;
  }
  .productD .item .sub1 p {
    color: black;
    text-align: center;
    font-size: 30px;
  }
  .productD .item .sub {
    margin: 5px;
    border-radius: 100%;
    padding: 10px;
  }
  .productD .item .sub p {
    text-align: center;
    font-size: 20px;
  }
  .productD .subsub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .productD .subsub p {
    font-size: 22px !important;
  }
  .productD .sub {
    width: 25%;
  }
  .contactD {
    font-family: '__Futura-Bold_5';
    padding: 10px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contactD p {
    font-size: 35px;
  }
  .contactD .sub {
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.desktopB {
  display: none;
}

.desktopB .item {
  width: 20%;
  font-family: 'PT-Sans';
}

.desktopB .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  width: 100%;
}

.desktopB .text .sub {
  width: 30% !important;
}

.desktopB .text .desktopB {
  width: 50%;
}

.picturePortD {
  display: none;
}

.whitesmoke1D, .whitesmoke2D, .whitesmoke3D, .desktop1, .productD, .contactD {
  display: none;
}

@media (min-width: 768px) and (max-width: 992px) {
  .top {
    height: 55%;
  }
}
/*# sourceMappingURL=style.css.map */