@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
$blue: rgb(104, 156, 180);
$button-1:rgb(249, 145, 36);
$warning:rgb(225, 51, 57);
$alt-1:rgb(164, 193, 87);
$alt-2:rgb(104, 156, 180);
$alt-3:rgb(150, 119, 178);

.navbar-brand {
    
        font-size:20px;
        color:$alt-1;
    
}

.productsDown{
    .product {
        padding:15px;
    }
}
body {
    overflow-x: hidden;
}
.youtube {
    background-color: #000;
    position: relative;
    padding-top: 56.25%;
    height:100%;
    overflow: hidden;
    cursor: pointer;
    
}

.t1 {
    font-family:'PT-Sans' !important;
    .sub {
        p {
            font-size:16px;
        }
    }
}
.navbar {
    position:fixed;
    top:0;
    width:100%;
    background-color:whitesmoke;
    padding:10px;
    border:none !important;
    display:block;
    box-shadow: 0px 15px 10px -15px #111 !important; 

    .navbar-brand {
        margin-top:5px !important;
        font-family:'__Futura-Bold_5';

    }


    .navbar-nav {
        align-self: flex-end !important;

        a {
            font-size:12px;
            font-weight: bold;
            color:black;
            font-family:'__Open Sans_5';
        }
    }


}
.fa-vk, .fa-instagram, .fa-facebook {
    color:$alt-1;
}

.youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
body, html {
    padding:0;
    margin:0;
    height:100%;
    font-family:'Oswald';
}
.a {
    height:200px;
    width:200px;
    border:1px solid black;
}

body {
    font-family:'Oswald';
    
    
}
p {
    font-size:16px;
}

.top {

 height:35%;
 
}




.masthead{
    font-family:'__Futura-Bold_5';
    display:flex;
    flex-direction:column;
    
    background-image:url("/img/masthead.jpg");

    background-attachment: fixed;
    justify-content: flex-end;
    background-size:contain;
    align-items: center;
    color:white;
    position:relative;
    height:40vh;

        h1 {
            font-size:24px;
            padding-bottom:10px;
        }

    .i1 {
        display:none;
        position:absolute;
        top:40%;
        left:10%;
        height:20%;
        width:20%;
    }
    padding-top:10rem !important;
    
}





.YT-first{

    h1 {
        font-size:30px;
    }

    padding-bottom:2rem;
    display:flex;
    flex-direction:column;
    font-family:'__Futura-Bold_5';

    .header {
        display:flex;
        justify-content: center;
        align-items:center;
        font-family:'__Futura-Bold_5';
    }
    .YT-cont {
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        width:100%;
        .item {
            margin-top:10px;
            height:25%;
            width:90%;
            
        }
    }
    .button {
        display:flex;
        justify-content: center;
        align-items:center;
        width:100%;
        margin-top:10px;

      

        a {
            background-color:$button-1;
            color:black;
            text-decoration: underline;
            padding:10px;
            padding-left:20px !important;
            padding-right:20px !important;
            font-size: 24px !important;
            text-align: center;
            border-radius: 50px;
        }
    }

}


.YT-first1{
    p {
        font-size:11px; 
    }
    font-family:'__Futura-Bold_5';
    display:flex;
    flex-direction:column;
    background-color:$blue;
    color:white;
    text-align:center;
    justify-content: center;
    align-items: center;
 
    padding:1rem;
    .header {
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .YT-cont {
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        width:100%;
        
        .item {
  
            height:25%;
            width:100%;
            
        }
    }
    .button {
        display:flex;
        justify-content: center;
        align-items:center;
        width:100%;
        
      

        a {
            background-color:$button-1;
            color:white;
            padding:10px;
            font-size: 24px;
            text-align: center;
            border-radius: 50px;
        }
    }

}

.u-list {
    font-family:'__Futura-Bold_5';
    background-color:$blue;
    color:white;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-bottom:10px;

    .header {
        height:10%;
        h1 {
            font-size:24px;
        }

    }

    .content-1st {
        display:flex;
        flex-direction:row;
        align-items: center;
        height:45%;
        width:70%;
        justify-content: center;
        align-items: center;
        padding:0 !important;
        p {
            font-size:14px;
        }
     
        .item {
            align-items: center;
            justify-content: flex-start;

            width:100%;
         
            .img-fluid {
                height:100%;
            }
            
           
        }
    }
    .content-2nd {
        display:flex;
        margin-top:10px;
        height:45% !important;
        width:80%;
        flex-direction:column;
        justify-content: center;
        text-align: left;

        .cent {
            width:100%;
            padding-left:3rem;
            p {
                margin-top:20px;    
            }
        }
        
    }
}
.warning {
    font-family: 'PT-Sans';
    display:flex;
   margin-top:20px;

    text-align: center;
    background:white;
    width:100%;
    justify-content: center;
    align-items: center;

  


    .item {
        border:3px solid $warning;
        display:flex;
        justify-content: center;
        align-items: center;
        width:90%;
        height:100%;
        padding:10px;
        border-radius:10px;

        p {
            align-self: center;
            font-weight: bold;
            font-size:14px;
        }
    }
}

.whitesmoke {

    padding:1.5rem;
    display:flex;
    flex-direction:column;
    
   
    .header {
        font-family:'__Myriad Pro_5';
        height:10%;
        width:100%;
        display:flex;
        justify-content: center;
        text-align: center;
        h3 {
            font-size:18px;
        }
    }
    .item {
        height:45%;
        width:100%;

        .subitem {
            font-family:'PT-Sans';
            p {
                line-height: 1;
                font-size:14px;
                
            }
            .ul {

                text-decoration: underline;
            }
        }
    }

    .s1 {
        .img-fluid {
            height:70px;
            width:70px;
        }
        display:flex;
        justify-content: center;
    }
    background-color:whitesmoke;
    display:flex;
    flex-direction:column;
 
}

.whitesmoke1 {
    font-family: '__Futura-Normal_5';
    h3 {
        color:black !important;
        font-size:18px;
    }
    padding:0;
    .alt1 {
        background-color:$alt-1;
    }
    .alt2 {
        background-color:$alt-2;
    }
    .alt3 {
        background-color:$alt-3;
    }
    text-align: center;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    .header {
        font-family: '__Futura-Bold_5';
        height:10%;
        width:100%;
        display:flex;
        justify-content: center;
        text-align: center;
        margin-bottom:10px;
    }
    .item {
        height:45%;
        width:100%;
        padding-left:1.5rem;
        padding-right:1.5rem;
        justify-content: center;
        align-items:center;
        .subitem {
            p {
                line-height: 1.9;
            }
            .ul {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }

    .s1 {
        margin:10px;
        .img-fluid {
            min-height:108px;
            min-width:163px;
            box-shadow: 0 0 5px 5px rgba(245,245,245,0.7);
        }
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }
    color:white;
    background-color:white;
    display:flex;
    flex-direction:column;
    
}

.text {
    h3 {
        font-size:18px;
    }
    text-align: center;
    padding:1.5rem;
    display:flex;
    flex-direction:row !important;  
    justify-content: center;
    align-items: center;
    width:100%;
    font-family: '__Futura-Bold_5';

    .sub {width:100%;}

}

.three {
    font-family: '__Myriad Pro_5';
    .youtube {
        height:100%;
        width:100%;
    }
    display:flex;
    height:auto;
    flex-direction:column;
    background-image:url("/img/masaza.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    padding:1.5rem;
    background-color:$alt-1;
    justify-content: center;
    align-items:center;
    p, h3 {
        color:white;
        text-align: center;
    }
   
    .i1 {
        height:10%;
        width:100%;
    }

    .i2 {
        height:80%;
        width:100%;
    }
    .v {
        min-height:260px;   
        border:1px solid white;
        width:100%;
    }
    .item {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    h3 {
        font-size:18px;
    }
    
}

.posebanDiv {
    font-family:Arial, Helvetica, sans-serif;
    padding:1.5rem;
    display:flex;
    justify-content:center;
    align-items:center;

    .pic {
       
        position:relative;
        .img-fluid {
            width:300px;
        }
        .rnd {
            
            position:absolute;
            top:12px;
            display:flex;
            width:100%;
        
            justify-content:center;
            p {
                color:white;
                font-size:13px;
            }
        }
    }
}
.img-container {
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    .item {
        width:100%;
        
    }
    .w {
        width:100%;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        .img-fluid {
            height:100%;
            width:100%;
    }
    }

    background-image:url("/img/bg.jpg");
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    width:100%;

    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    .item {
        width:50%;
        height:auto;
        display:flex;
        justify-content: center;
        padding:10px;
        align-items:center;

    }
}
.picturePort {
    font-family: 'PT-Sans';
    width:100%;
    padding:1.5rem;
    display:flex;
    flex-direction:column;
    justify-content: center;   
    align-items:center;
    p {
        text-align: center;
    }
    .i1 {
        height:40%;
        width:100%;
        display:flex;
        flex-direction:row;
        justify-content: center;   
        align-items:center;
        .itemSub {
            display:flex;
            justify-content: center;
            align-items:center;
            .img-fluid {
                height:100px;
                width:100px;
            }
            p {
                text-align: center;
                font-weight:bold;
            }
        }
        
    }
    .i2 {
        height:40%;
        width:100%;
        display:flex;
        justify-content: center;   
        align-items:center;
        margin-top:15px;
    }


}
.warning-1 {
    padding:1.5rem;
    display:flex;
    flex-direction:row;
    width:100%;
    font-family:'PT-Sans';
    justify-content: center;
    align-items:center;
    background-color:#7f7f7f;
    p {
        color:white;
        font-size:19px;
    }
    .item {
        width:50%;
        display:flex;
        justify-content: center;
        align-items:center;

    }
}
.textR {
    padding:1.5rem;
    font-family:'PT-Sans';
    p {
        font-size:14px;
    }
}

.products {
    font-family:'__Futura-Normal_5';
    .img-fluid {
        height:120px;
        width:120px;
    }
    background-image: linear-gradient(to right, #397bc5 , #389b64);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:1.5rem;
    color:white;
    text-align: center;
    p {
        line-height:1;
    }
    h2 {
        font-size:18px;
    }
    .itemW {
        background-color:white;
        color:black;
        display:flex;
        align-items: center;
        border-radius: 50%;
        text-align: center;
        width:100%;
        justify-content: center;
        font-weight: bold;
        padding:10px;
        p {
            font-size:18px;
            margin-top:10px;
        }
    }
    .product {
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        width:100%;
        .s {
            justify-content: flex-end;
            align-items: flex-end;
        }
        .sub {
            display:flex;
            flex-direction: column;
            width:50%;
            p {
                text-align: center;
                font-size:18px;
                color:white;
                line-height: 0.8;
            }
        }
    }

    .button {
        width:100%;
    
        button {
            width:100%;
            padding:5px;
            background:transparent;
            border:2px solid white;
            color:white;
            font-size:18px;
        }
    }

    .productsDown {
        display:none;
    }
}

.contact {
    font-family:'__Futura-Bold_5';
    p {
        font-size:18px;
    }
    width:100%;
    padding:1.5rem;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .item {
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .item1 {
        width:100%;
        text-align: center;
        display:flex;
        flex-direction:row;

        .sub {
            display:flex;
            align-items: center;
            .img-fluid {
                height:50px;
                width:70px;
            }
        }
        .s1 {
            justify-content: flex-end;
            width:90%;
        }
    }
}

.map {
    display:flex;
    justify-content: center;
    align-items: center;
    height:500px;

    #gmap {
        width:100%;
        height:100%;
    }
}

.footer {
    font-family:'__Futura-Bold_5';
    display:flex;
    padding:1.5rem;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #397bc5 , #389b64);
    color:white;

    a {
        text-decoration: none;
        color:white;
        font-size:30px;
 
    }
}


.dopunaD {
    display:none;
}

.GD {
    display:none
}

.textD {
    display:none;
}
.ozaD {
    display:none;
}

.ND {
    display:none !important;
}

.NM{
.flex {
    display:flex;
    flex-direction:row;
    padding:12px;
    .fi {
        margin:5px;
    }
}
}

li.active a { color: black !important; background-color: whitesmoke !important }
@media only screen and (min-width: 992px) {
    li.active a { color: #a5bf5d !important; background-color: whitesmoke !important }
    .ND {

        display:block !important;
        .navbar-nav {
            align-self: flex-end !important;
    
            .link {
                font-size:14px;
                font-weight: bold;
                color:black;
                font-family:'__Open Sans_5';
                margin-top:10px;
            }

            .fab {
                margin-top:10px;
            }
        }
    }

    .NM {
        display:none !important;
    }
    .footer {
        font-family:'__Futura-Bold_5';
        display:flex;
        padding:1.5rem;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right, #397bc5 , #389b64);
        color:white;
    
        a {
            text-decoration: none;
            color:white;
            font-size:48px;
     
        }
    }
#section5 {
    display:none !important;
}
    .ozaD {
     h1 {
         font-size:60px;
     }
  padding-bottom:3rem !important;
        display:flex;
        flex-direction:column;
        width:100%;
        justify-content: center;
        align-items: center;
        background-color:whitesmoke;
        padding-bottom:1rem;
        font-family:'__Myriad Pro_5';
        .item {
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            width:80%;
            justify-content: center;
            align-items: center;
        
        }
        .sub {
            width:30%;
            padding:1rem;
        }
        .header {
            h2 {
                font-size:100px !important;
            }
        }
    }

    .textD {
        display:flex;
        justify-content: center;
        align-items: center;
        height:10%;
        padding-bottom:1.5rem;
        font-family:'__Futura-Bold_5';

        .item {
            height:100%;
            width:100%;
            display:flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            font-size: 48px;
        }

    }

    
    
.navbar {
    .navbar-brand {
        display:flex;
        font-size:30px;
        margin-top:12px !important;
    }
 
}


   
    .dopunaD {
        display:flex;
        height:10%;
        width:100%;
        justify-content: center;
        align-items:center;
        background-color:	#b6d1dc;
        color:black;
        font-family:'__Futura-Bold_5';

        .green {
            color:	#306d05;
        }

        h1 {
            font-size:24px;
        }
    }

    .YT-first1 {
        display:none !important;
    }
    

    .top {
        height:90%;
        padding:0 !important;
    }
    .masthead {
        
        justify-content: flex-end;
        height:100% !important;
        background-image:url("/img/bgBig.jpg");
        background-size:cover;
        background-position:center;
        padding-top:5rem !important;
        .i1 {
            display:inline-block !important;
        }
        .m {
       
     
          
            h1 {
                font-size:72px;
                margin-bottom:3rem;
                font-weight: bold;
            }
        }
    }



    .b {
       height:10% !important;
       width:100%;

       .subitem {
           display:flex;
           flex-direction:row !important;
           width:100%;
           justify-content:center;
           p {
               font-size:25px;
               color:black;
           }
       }
    
    }

    .YT-first {
        padding-top:0 !important;
        padding-bottom:0 !important;
    

        .button {
            .btn-1 {
                border:2px solid black;
                background-color:	#fded26;
                font-size:48px !important;
                font-weight: 400;
                width:30%;
                box-shadow: 0px 15px 10px -15px #111;  
            }
        }
        .header {


            h1 {
                font-size:60px;
                font-weight: bold;
            }
        }
    }

  

    .YT-cont {
        flex-direction:row !important;
        flex-wrap:wrap;
        width:100%;
        padding:15rem;
        padding-top:0rem !important;
        padding-bottom:0rem !important;

      
        .item {
            width:40% !important;
            padding-left:70px;
            padding-right:70px;
            padding-top:15px;
            padding-bottom:50px;
        }

        .i1 {
            margin-top:0 !important;
        }
    }

    .u-list {
        display:none !important;
    }

    .img-container {
        .w {
            display:flex;
            justify-content:center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            width:80%;
            .item {
                width:25% !important;
                padding:1rem !important;
    
                .img-fluid {
                    height:100%;
                    width:100%;
                }
            }
        }
        display:flex;
        padding-left:13rem;
        padding-right:13rem;
        padding-top:5rem;
        padding-bottom:5rem;
        width:100%;
       
    }

    .warning, .warning-1 {
        display:none;
    }

    .desktop1 {

        display:flex !important;
        padding-top:6rem;
        padding-bottom:6rem;
        flex-direction:row;
        width:100%;
        justify-content: center;
        background-color:rgb(154, 201, 59);
        margin-top:4rem;
        font-family:'__Futura-Bold_5';
        .wrapper {
            display:flex;
            flex-direction:row;
            justify-content: center;
            align-items: center;
            width:70%;
       
        }
        .item10 {
            .img-fluid {
                height:500px;
            }
        }
        .item {
            padding:10px;
        }
        p {
            font-size:24px;
            color:white;
       
        }
        .item10 {
            width:30%;
            display:flex;
            align-items: center;
            margin-top:2rem;
     
        }

        .item90 {
            width:60%;
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
        }

        .header {
            align-self: flex-start;
            margin-bottom:2rem;
            p {
                font-size:50px !important;
                text-align: left;
            }
        }
    }

    .cont {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;

        .item {
            width:30%;
            margin:1rem;
        }
    }

    .whitesmoke {

        display:flex;
        justify-content: center;
        align-items: center;
        padding-top:2rem !important;
        .header {
            h3 {
                font-size:60px;
            }
            margin-bottom:5rem;
        }

        .ul {
            font-size:22px !important;
        }
        .desktop {
            display:flex;
            flex-direction:row;
            padding:0 !important;
            width:80%;
            justify-content: center;
            align-items: flex-start;
        }

        .item {
            width:30%;
            margin:30px;
         
            .s1 {
                margin-bottom:50px;
            }
            .subitem {
                p {
                    font-size:20px;
                }

                .img-fluid {
                    width:91px;
                    height:118px;
                }
            }
        }
    }
    .desktopB {
        font-family:'PT-Sans';


        display:flex !important;
        justify-content: center;
      
        background-color:whitesmoke !important; 
        padding-bottom:2rem;
        align-items: center;
        .item {
            border:3px dashed red;
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding:20px;
           width:50% !important;
           background-color:white;
       p {
        font-size:20px;
       }
        }
    
    }

    .whitesmoke1 {
        display:none;
        
    }
    
    .whitesmoke1D {
        color:white;
        display:flex !important;
        flex-direction:row;
        justify-content: center !important;
        align-items: center !important;
        width:100%;
        background-color:$alt-1;
        height:500px;
        position: relative;
        color: #fff;
        font-family:'__Futura-Normal_5';

    p {
        font-size: 26px !important;
    }

    h1 {
        font-size:30px !important;
    }

        


        .subitem {
            z-index:200;
            width:35%;
  
            .img-fluid {
                box-shadow: 0 0 10px 10px rgba(245,245,245,0.7);
            }
        }

      
    }

    .whitesmoke1D:after{
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background:inherit;
        z-index: 199;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: top right;
        transform: skewY(-2deg);
      }

    .whitesmoke2D {
        color:white;
        display:flex !important;
        flex-direction:row;
        justify-content: center !important;
        align-items: center !important;
        width:100%;
        background-color:$alt-2;
        height:500px;
        h1 {
            font-size:30px;
        }
        font-family:'__Futura-Normal_5';
    
        p {
            font-size: 26px;    
        }
        font-family:'__Futura-Normal_5';
        .subitem {
     
            width:30%;
            .img-fluid {
                box-shadow: 0 0 10px 10px rgba(245,245,245,0.7);
            }
        }
    }

    .whitesmoke3D {
        color:white;
        display:flex !important;
        flex-direction:row;
        justify-content: center !important;
        align-items: center !important;
        width:100%;
        background-color:$alt-3;
        height:500px;
        font-family:'__Futura-Normal_5';
        p {
            font-size: 26px;
        }
        h1 {
            font-size:30px;
        }

        .subitem {
            width:35%;

            .img-fluid {
                box-shadow: 0 0 10px 10px rgba(245,245,245,0.7);
            }
        }
    }

    .text {
        font-family:'__Futura-Bold_5';
        h3 {
            font-size:48px;
        }

    }

    .t1 {
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;

        .sub {
            font-family:'PT-Sans';
        }
    
        p {
            font-size:24px;
        }
        .desktopB {
            p {
                font-size:24px;
            }
            width:30%;
            background-color:white !important;
            .item {
                width:100% !important;
                padding:20px !important;
                height:100%;
            }
            
        }

        .sub {
            width:25%;
            display:flex;
            flex-direction:column;
            text-align: left;
            margin-top:50px;

      
          
        }
    }

    .three {
        font-family:'__Myriad Pro_5';
        .youtube {
            height:100%;
            width:100%;
        }
        height:100%;
        display:flex;
        flex-direction:column;
        width:100%;
        .item {
            height:33.3%;
            width:100%;
        }

        .i2 {
            height:300px !important;
            width:600px !important;
            padding:10px;
 
        }

    

        .item {
        
            h3 {
                font-size:48px;
                font-weight: bold;
                color:white;
            }
            width:50%;
        }
    }

        .posebanDiv {
            font-family:'__Myriad Pro_5';
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        .pic {
            display:flex;
            justify-content: center;
            align-items: center;
            width:80%;
            .img-fluid {
                width:50%;
            }

            .rnd {
                top:30%;
             p {
                font-size:27px;
             }
            }
        }
    }
    .picturePort{
        display:none;
    }

    .picturePortD{
        font-family:'PT-Sans';
        display:flex !important;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width:100%;
        margin-top:70px;
        margin-bottom:70px;
        .txtt {
            display:flex;
            justify-content: center;
            align-items: center;
            width:80%;
            flex-direction: column;
            p {
                font-size:18px !important;
            }
        }
        .first {
            display:flex;
            flex-direction:row;
            width:60%;
            justify-content: center;
            align-items: center;

            .s1 {
                width:40%;
            }

            .s2 {
                width:50%;
                
                p {
                    font-size:22px;
                    text-align: right;
                }
            }

        }

        .sec {
            display:flex;
            flex-direction:column;
            width:60%;
            justify-content: center;
            margin-top:2rem;
       

            p {
                font-size:18px;
                text-align: left;
            }
        }
    }

    .textR, .products, .contact {
        display:none;
    }

    .productD {
        p {
            line-height:1;
        }
        font-family:'__Futura-Normal_5';
        padding-top:5rem;
        padding-bottom:5rem;
        .wrp {
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            width:70%;
        }
        
        .img-fluid {
            height:250px;
            width:200px;
        }
        p {
            font-size:30px;
            color:white;
        }
        display:flex !important;
        flex-direction:column;
        background-image: linear-gradient(to right, #397bc5 , #389b64);
        justify-content: center;
        align-items:center;
        width:100%;
        .header {
            align-self: center !important;
        }
        .item {
            padding:20px;
            
            display:flex;
            flex-direction:row !important;
            align-items: center;
            .sub1 {
                border-radius:100%;
              ;
                p {
                    color:black;
                    text-align: center;
                    font-size:30px;
                }
            }
            .sub {
                margin:5px;
                
                p {
                    
                    text-align: center;
                    font-size:20px;
             
                }
                border-radius:100%;
                padding:10px;
            }
        }

        .subsub {
            display:flex;
            flex-direction:column;
            align-items: center;
            text-align: center;
            p {
                font-size:22px !important;
            }
        }

        .sub{
            width:25%;
        }
    }

    .contactD {
        font-family:'__Futura-Bold_5';
        p {
                   font-size:35px;
        }
        padding:10px;
        display:flex !important;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
        .sub {
            margin:5px;
            display:flex;
            justify-content: center;
            align-items: center;
            
        }
    }

    
}

.desktopB {
    
    display:none;
    .item {
        width:20%;
        font-family:'PT-Sans';
    }

    .text {
        display:flex;
        flex-direction:row !important; 
        width:100%; 

        .sub {
            width:30% !important;

        }

        .desktopB {
            width:50%;
        }
    }


}

.picturePortD {
    display:none;
}


.whitesmoke1D, .whitesmoke2D, .whitesmoke3D, .desktop1, .productD, .contactD {
    display:none;
}


@media (min-width: 768px) and (max-width: 992px) {
  
.top {
    height:55%;
    
}

.masthead {
    background-image:url("/img/bgbig.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: flex-end;
    align-items: center;
}
    
  }